* {
    margin: 0;
    padding: 0;
}

._blank {
    margin: calc(max(min(15vw, 15vh), 200px) + calc(min(95vw, 767px) * 9 / 16));
}

header {
    background-color: var(--c-dblue);
    height: max(min(30vw, 30vh), 250px);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

header.scroll50 {
    height: 100px;
}

.big-title {
    position: absolute;
    left: .5rem;
    top: .5rem;
    font-size: 3rem;
    color: var(--c-ddblue);
    width: 100%;
    overflow: hidden;
    z-index: 203;
    font-weight: bold;
    transition: all 0.1s;
    opacity: 1;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

header.scroll50 .big-title {
    opacity: 0;
}

@media (max-width: 768px) {
    .big-title {
        display: none;
    }
}

.header-nav {
    position: relative;
    height: 50%;
    margin-left: calc((100vw - max(min(30vw, 30vh), 250px) / 2) / 2);
    z-index: 205;
}

header.scroll50 .header-nav {
    height: 100%;
}

.header-nav a {
    height: 100%;
    display: inline-block;
}

.header-nav a img {
    position: relative;
    height: 100%;
    pointer-events: none;
}

.recommendations-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(min(95vw, 767px) * 9 / 16);
    margin-top: max(min(15vw, 15vh), 150px);
    z-index: 210;
    /* transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s; */
}

.recommendations-area.scroll50 {
    top: calc(-1 * calc(min(95vw, 767px) * 9 / 16) + -1.3 * max(min(15vw, 15vh), 150px));
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.recommendation-link {
    text-decoration: none;
    pointer-events: none;
}

.recommendations {
    background-color: white;
    color: white;
    border-radius: min(2vw, 2vh);
    position: relative;
    margin: 0 auto;
    height: calc(min(95vw, 767px) * 9 / 16);
    width: min(95vw, 767px);
    box-shadow: min(.7vw, .7vh) min(.7vw, .7vh) min(0.9vw, 0.9vh) rgba(0, 0, 0, 0.75);
    overflow: hidden;
    z-index: 220;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem .15rem var(--c-rose);
    letter-spacing: 0.15em;
    pointer-events: auto;
    -webkit-border-radius: min(2vw, 2vh);
    -moz-border-radius: min(2vw, 2vh);
    -ms-border-radius: min(2vw, 2vh);
    -o-border-radius: min(2vw, 2vh);
}

.recommend-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.2s;
    opacity: 100%;
    z-index: 225;
    transform: rotateZ(0);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
}

.recommendations:hover .recommend-img {
    top: -12.5%;
    left: -12.5%;
    width: 125%;
    height: 125%;
    transition: all 0.1s;
    opacity: 75%;
    filter: blur(0.1rem);
    transform: rotateZ(10deg);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-filter: blur(0.1rem);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
}

.recommend-title {
    font-size: 2rem;
    text-align: center;
    position: relative;
    z-index: 230;
}

.recommend-title::before {
    content: "";
    width: 0;
    height: 3.1rem;
    background: black;
    position: absolute;
    z-index: 226;
    top: -0.6rem;
    left: 50%;
    transition: all 0.3s ease-out;
    transform: skew(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
}

@media (max-width: 768px) {
    .recommend-title::before {
        content: "";
        width: 0;
        height: 6.6rem;
        background: black;
        position: absolute;
        z-index: 226;
        top: -2.5rem;
        left: 50%;
    }
}

.recommendations:hover .recommend-title::before {
    content: "";
    width: 125%;
    height: 3.1rem;
    background: black;
    position: absolute;
    z-index: 226;
    top: -0.6rem;
    left: -12.5%;
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
}

@media (max-width: 768px) {
    .recommendations:hover .recommend-title::before {
        content: "";
        width: 300%;
        height: 6.6rem;
        background: black;
        position: absolute;
        z-index: 226;
        top: -2.5rem;
        left: -100%;
        transform: skew(0);
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -ms-transform: skew(0);
        -o-transform: skew(0);
    }
}

.recommend-title p {
    position: relative;
    z-index: 230;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

.recommendations:hover .recommend-title p {
    text-shadow: none;
}

body {
    background-color: var(--c-cream);
    width: 100%;
}

.profile-container {
    font-size: 1.3em;
    width: min(95%, 767px);
    margin: 0 auto;
    position: relative;
}

.profile-title {
    font-size: 3rem;
}

.profile-description p:nth-child(2) {
    margin-top: 1.2rem;
}

.profile-skills {
    margin-top: 2rem;
    height: auto;
}

.profile-skills p:nth-child(1) {
    font-size: 2rem;
}

.skill-container {
    margin-bottom: 1rem;
}

#canuse-lang,
#studying-lang,
#canuse-soft {
    display: none;
}

.skills .container {
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
}

.skills .title {
    color: white;
    font-weight: bold;
    background-color: var(--c-wine);
    position: relative;
    padding: .5rem;
    border-style: solid;
    border-color: transparent;
    border-width: .1rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.skills .title:hover {
    background-color: var(--c-lwine);
}

.skills .contents {
    position: relative;
    background: var(--c-cream);
    padding: .5rem;
    color: black;
    border-style: solid;
    border-color: var(--c-wine);
    border-width: .7rem .1rem .1rem .1rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.skills .contents ol {
    margin-left: 1.5rem;
}

#canuse-lang:not(:checked)~.skills .contents,
#studying-lang:not(:checked)~.skills .contents,
#canuse-soft:not(:checked)~.skills .contents {
    display: none;
}

#canuse-lang:checked~.skills .contents,
#studying-lang:checked~.skills .contents,
#canuse-soft:checked~.skills .contents {
    display: auto;
}

#canuse-lang:not(:checked)~.skills .title span::after,
#studying-lang:not(:checked)~.skills .title span::after,
#canuse-soft:not(:checked)~.skills .title span::after {
    content: " (Click to Open)";
}

#canuse-lang:checked~.skills .title span::after,
#studying-lang:checked~.skills .title span::after,
#canuse-soft:checked~.skills .title span::after {
    content: " (Click to Close)";
}

#canuse-lang:checked~.skills .title,
#studying-lang:checked~.skills .title,
#canuse-soft:checked~.skills .title {
    background-color: var(--c-cream);
    color: black;
    border-color: var(--c-wine);
}

footer {
    width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
}

.foot-tri {
    width: 0;
    height: 0;
    position: relative;
    border-style: solid;
    border-width: 0 0 max(min(20vw, 20vh), 200px) 100vw;
    border-color: transparent transparent var(--c-blue) transparent;
    z-index: 105;
}

.foot-text-box {
    position: absolute;
    font-size: 1.2rem;
    top: calc(max(min(20vw, 20vh), 200px) - 2rem);
    text-align: right;
    left: calc(100% - 10 * 1.2rem);
    z-index: 107;
    color: white;
}

.productions-container {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    background-color: transparent;
}

.cp {
    display: none;
}

.productions-container .productions-row .prow {
    height: calc(100vw / 3 * 9 / 16);
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a1 a2 a3";
    margin: 1rem 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
}

.productions-container .productions-row .prow div:nth-child(1) {
    grid-area: a1;
    background-color: black;
}

.productions-container .productions-row .prow div:nth-child(2) {
    grid-area: a2;
    background-color: black;
}

.productions-container .productions-row .prow div:nth-child(3) {
    grid-area: a3;
    background-color: black;
}

.productions-container .productions-row .prow::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(100% - 2rem);
    height: 0%;
    padding: 1rem;
    background-color: transparent;
    content: "";
    z-index: 125;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

.productions-container .productions-row .prow::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(.2rem);
    content: "";
    z-index: 124;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

@media (max-width: 768px) {
    .productions-container .productions-row .prow::after {
        content: "OPEN";
        top: 0%;
        height: calc(100% - 2rem);
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.productions-container .productions-row .prow:hover::after {
    content: "OPEN";
    top: 0%;
    height: calc(100% - 2rem);
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
}

#cprow1:checked~.prow::before,
#cprow2:checked~.prow::before,
#cprow3:checked~.prow::before {
    display: none;
}

#cprow1:checked~.prow::after,
#cprow2:checked~.prow::after,
#cprow3:checked~.prow::after {
    display: none;
}

#cprow1:not(:checked)~.prow,
#cprow2:not(:checked)~.prow,
#cprow3:not(:checked)~.prow {
    height: calc(100vw / 3 * 9 / 16 / 1.5);
    margin: 0;
}

.prow>div::before {
    position: absolute;
    content: "Click to Close";
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background-color: var(--c-dblue);
    box-shadow: 0 .2rem .2rem black;
    z-index: 150;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    opacity: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    letter-spacing: 2.5rem;
    white-space: nowrap;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

@media (max-width: 768px) {
    .prow>div::before {
        opacity: 1;
        letter-spacing: 0;
    }
}

.prow>div:hover::before {
    opacity: 1;
    letter-spacing: 0;
}

.prow div {
    position: relative;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 110;
    padding: 0;
}

.prow div img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: auto;
    transition: all 0.2s;
    z-index: 115;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

@media (min-width: 769px) {

    #cprow1:checked~.prow div img,
    #cprow2:checked~.prow div img,
    #cprow3:checked~.prow div img {
        animation: imgfreq 2s linear infinite .2s;
        -webkit-animation: imgfreq 2s linear infinite .2s;
    }

    #cprow1:checked~.prow:hover div img {
        animation: none;
        -webkit-animation: none;
    }

    #cprow1:checked~.prow div:nth-child(2) img,
    #cprow2:checked~.prow div:nth-child(2) img,
    #cprow3:checked~.prow div:nth-child(2) img {
        animation-delay: .5s;
    }

    #cprow1:checked~.prow div:nth-child(3) img,
    #cprow2:checked~.prow div:nth-child(3) img,
    #cprow3:checked~.prow div:nth-child(3) img {
        animation-delay: .8s;
    }
}

@media (max-width: 768px) {
    .prow div img {
        opacity: .7;
    }
}

.prow div img:hover {
    opacity: .7;
}

@keyframes imgfreq {
    0% {
        opacity: 1;
    }

    25% {
        opacity: .7;
    }

    50% {
        opacity: 1;
    }
}

.prow img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.473);
    z-index: 120;
    backdrop-filter: blur(.2rem);
}

.productions-container .productions-row .prow .prow-link {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 125;
    font-size: 1.5rem;
    text-decoration: none;
}

/* ここでhover下移動 */

.productions-container .productions-row .prow div .prow-title {
    position: absolute;
    background-color: transparent;
    display: block;
    margin: 1rem 0 0 10%;
    backdrop-filter: blur(.2rem);
    z-index: 125;
    height: auto;
    width: 80%;
    transform: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.productions-container .productions-row .prow div:hover .prow-title {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    -o-transform: translateY(1rem);
}

@media (max-width: 768px) {

    .productions-container .productions-row #cprow1:not(:checked)~.prow>div,
    .productions-container .productions-row #cprow2:not(:checked)~.prow>div,
    .productions-container .productions-row #cprow3:not(:checked)~.prow>div {
        top: -2rem;
    }

    .productions-container .productions-row .prow>div:nth-child(1) .prow-title {
        transform: translateY(1rem);
        -webkit-transform: translateY(1rem);
        -moz-transform: translateY(1rem);
        -ms-transform: translateY(1rem);
        -o-transform: translateY(1rem);
    }

    .productions-container .productions-row .prow>div:not(:nth-child(1))::before {
        display: none;
    }

    .productions-container .productions-row .prow>div:not(:nth-child(1)):hover .prow-title {
        transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
    }
}

.productions-container .productions-row #cprow1:not(:checked)~.prow div .prow-title,
.productions-container .productions-row #cprow2:not(:checked)~.prow div .prow-title,
.productions-container .productions-row #cprow3:not(:checked)~.prow div .prow-title {
    transform: translateY(-3rem);
    -webkit-transform: translateY(-3rem);
    -moz-transform: translateY(-3rem);
    -ms-transform: translateY(-3rem);
    -o-transform: translateY(-3rem);
}

.productions-container .productions-row .prow .prow-title p {
    text-align: center;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    filter: drop-shadow(0 .2rem .3rem black);
    background: linear-gradient(transparent 85%, rgb(255, 255, 255) 10%);
    -webkit-filter: drop-shadow(0 .2rem .3rem black);
}

.productions-container .productions-row .prow .prow-link .prow-button {
    background-color: rgba(255, 255, 255, 0.788);
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 0.15rem;
    border-radius: 0;
    backdrop-filter: blur(0.1rem);
    padding: 0.5rem;
    margin: 0;
    letter-spacing: .1rem;
    width: max(60%, 7rem);
    height: max(30%, 2rem);
    top: calc(calc(100vw / 3 * 9 / 16) - max(30%, 2rem) * 2);
    transition: all 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    opacity: 1;
    transform: none;
    left: calc((100% - max(60%, 7rem)) / 2);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

@media (max-width: 768px) {
    .productions-container .productions-row .prow .prow-link .prow-button {
        top: calc(calc(100vw * 9 / 16) - max(40%, 2.5rem) * 1.8);
    }
}

.productions-container .productions-row .prow .prow-link .prow-button:hover {
    background-color: rgba(43, 43, 43, 0.815);
    filter: drop-shadow(.1rem .1rem .1rem black);
    border-radius: .1rem .6rem .1rem .6rem;
    -webkit-border-radius: .1rem .6rem .1rem .6rem;
    -moz-border-radius: .1rem .6rem .1rem .6rem;
    -ms-border-radius: .1rem .6rem .1rem .6rem;
    -o-border-radius: .1rem .6rem .1rem .6rem;
    -webkit-filter: drop-shadow(.1rem .1rem .2rem black);
}

#cprow1:not(:checked)~.prow .prow-link .prow-button,
#cprow2:not(:checked)~.prow .prow-link .prow-button,
#cprow3:not(:checked)~.prow .prow-link .prow-button {
    opacity: 0;
    transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -moz-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem);
}

.productions-container .productions-row .prow .prow-link .prow-button p {
    background-color: transparent;
    text-align: center;
    color: black;
    transition: 0.2s;
    font-weight: bold;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.productions-container .productions-row .prow .prow-link .prow-button:hover p {
    color: white;
}


/* ここに要素記入 */

@media (max-width: 768px) {
    .productions-container .productions-row .prow {
        height: calc(100vw * 9 / 16 * 3);
        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: calc(100vw * 9 / 16) calc(100vw * 9 / 16) 1fr;
        grid-template-areas: "a1""a2""a3";
    }
}