* {
    margin: 0;
    padding: 0;
}

._blank {
    margin: calc(max(min(15vw, 15vh), 200px) + calc(min(95vw, 767px) * 9 / 16));
}

header {
    background-color: var(--c-dblue);
    height: max(min(30vw, 30vh), 250px);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

header.scroll50 {
    height: 100px;
}

.big-title {
    position: absolute;
    left: .5rem;
    top: .5rem;
    font-size: 3rem;
    color: var(--c-ddblue);
    width: 100%;
    overflow: hidden;
    user-select: none;
    z-index: 103;
    font-weight: bold;
    transition: all 0.1s;
    opacity: 1;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

header.scroll50 .big-title {
    opacity: 0;
}

@media (max-width: 768px) {
    .big-title {
        display: none;
    }
}

.header-nav {
    position: relative;
    height: 50%;
    margin-left: calc((100vw - max(min(30vw, 30vh), 250px) / 2) / 2);
    z-index: 105;
}

header.scroll50 .header-nav {
    height: 100%;
}

.header-nav a {
    height: 100%;
    display: inline-block;
}

.header-nav a img {
    position: relative;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

.recommendations-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(min(95vw, 767px) * 9 / 16);
    margin-top: max(min(15vw, 15vh), 150px);
    z-index: 110;
    /* transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s; */
}

.recommendations-area.scroll50 {
    top: calc(-1 * calc(min(95vw, 767px) * 9 / 16) + -1 * max(min(15vw, 15vh), 150px));
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.recommendation-link {
    text-decoration: none;
    pointer-events: none;
}

.recommendations {
    background-color: white;
    color: white;
    border-radius: min(2vw, 2vh);
    position: relative;
    margin: 0 auto;
    height: calc(min(95vw, 767px) * 9 / 16);
    width: min(95vw, 767px);
    box-shadow: min(.7vw, .7vh) min(.7vw, .7vh) min(0.9vw, 0.9vh) rgba(0, 0, 0, 0.75);
    user-select: none;
    overflow: hidden;
    z-index: 120;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem .15rem var(--c-rose);
    letter-spacing: 0.15em;
    pointer-events: auto;
    -webkit-border-radius: min(2vw, 2vh);
    -moz-border-radius: min(2vw, 2vh);
    -ms-border-radius: min(2vw, 2vh);
    -o-border-radius: min(2vw, 2vh);
}

.recommend-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    transition: all 0.2s;
    opacity: 100%;
    z-index: 125;
    transform: rotateZ(0);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
}

.recommendations:hover .recommend-img {
    top: -12.5%;
    left: -12.5%;
    width: 125%;
    height: 125%;
    transition: all 0.1s;
    opacity: 75%;
    filter: blur(0.1rem);
    transform: rotateZ(10deg);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-filter: blur(0.1rem);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
}

.recommend-title {
    font-size: 2rem;
    text-align: center;
    position: relative;
    z-index: 130;
}

.recommend-title::before {
    content: "";
    width: 0;
    height: 3.1rem;
    background: black;
    position: absolute;
    z-index: 126;
    top: -0.6rem;
    left: 50%;
    transition: all 0.3s ease-out;
    transform:skew(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transform:skew(0);
    -moz-transform:skew(0);
    -ms-transform:skew(0);
    -o-transform:skew(0);
}

@media (max-width: 768px) {
    .recommend-title::before {
        content: "";
        width: 0;
        height: 6.6rem;
        background: black;
        position: absolute;
        z-index: 126;
        top: -2.5rem;
        left: 50%;
    }
}

.recommendations:hover .recommend-title::before {
    content: "";
    width: 125%;
    height: 3.1rem;
    background: black;
    position: absolute;
    z-index: 126;
    top: -0.6rem;
    left: -12.5%;
    transform:skew(-45deg);
    -webkit-transform:skew(-45deg);
    -moz-transform:skew(-45deg);
    -ms-transform:skew(-45deg);
    -o-transform:skew(-45deg);
}

@media (max-width: 768px) {
    .recommendations:hover .recommend-title::before {
        content: "";
        width: 300%;
        height: 6.6rem;
        background: black;
        position: absolute;
        z-index: 126;
        top: -2.5rem;
        left: -100%;
        transform:skew(0);
        -webkit-transform:skew(0);
        -moz-transform:skew(0);
        -ms-transform:skew(0);
        -o-transform:skew(0);
}
}

.recommend-title p {
    position: relative;
    z-index: 130;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

.recommendations:hover .recommend-title p {
    text-shadow: none;
}

body {
    background-color: var(--c-cream);
    width: 100%;
}

.profile-container {
    font-size: 1.3em;
    width: min(95%, 767px);
    margin: 0 auto;
    position: relative;
}

.profile-title {
    font-size: 3rem;
}

.profile-description p:nth-child(2){
    margin-top: 1.2rem;
}

.profile-skills {
    margin-top: 2rem;
    height: auto;
}

.profile-skills p:nth-child(1) {
    font-size: 2rem;
}

.skill-container {
    margin-bottom: 1rem;
}

#canuse-lang,
#studying-lang,
#canuse-soft {
    display: none;
}

.skills .container {
    width: 95%;
    margin: 0 auto;
}

.skills .title{
    color: white;
    font-weight: bold;
    background-color: var(--c-wine);
    position: relative;
    padding: .5rem;
    border-style: solid;
    border-color: transparent;
    border-width: .1rem;
    transition: all .2s;
    user-select: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.skills .contents {
    position: relative;
    background: var(--c-cream);
    padding: .5rem;
    color: black;
    border-style: solid;
    border-color: var(--c-wine);
    border-width: .7rem .1rem .1rem .1rem;
    transition: all .2s;
    user-select: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.skills .contents ol {
    margin-left: 1.5rem;
}

#canuse-lang:not(:checked)~.skills .contents,
#studying-lang:not(:checked)~.skills .contents,
#canuse-soft:not(:checked)~.skills .contents {
    display: none;
}

#canuse-lang:checked~.skills .contents,
#studying-lang:checked~.skills .contents,
#canuse-soft:checked~.skills .contents {
    display: auto;
}

#canuse-lang:not(:checked)~.skills .title span::after,
#studying-lang:not(:checked)~.skills .title span::after,
#canuse-soft:not(:checked)~.skills .title span::after {
    content: " (Click to Open)";
}
#canuse-lang:checked~.skills .title span::after,
#studying-lang:checked~.skills .title span::after,
#canuse-soft:checked~.skills .title span::after {
    content: " (Click to Close)";
}

#canuse-lang:checked~.skills .title,
#studying-lang:checked~.skills .title,
#canuse-soft:checked~.skills .title {
    background-color: var(--c-cream);
    color: black;
    border-color: var(--c-wine);
}